<ion-header>
  <ion-toolbar>
    <ion-title> Comparar precios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--
  <ion-list>
    <div class="left">
      <ion-item>
        <ion-label position="floating">Precio 1</ion-label>
        <ion-input type="number" [(ngModel)]="precio1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad 1</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad1"></ion-input>
      </ion-item>
      <ion-item *ngIf="resultado">
        <ion-label>Producto 1: {{precioPorCantidad1}}</ion-label>
      </ion-item>
    </div>
    <div class="right">
      <ion-item>
        <ion-label position="floating">Precio 2</ion-label>
        <ion-input type="number" [(ngModel)]="precio2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad 2</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad2"></ion-input>
      </ion-item>
      <ion-item *ngIf="resultado">
        <ion-label>Producto 2: {{precioPorCantidad2}}</ion-label>
      </ion-item>
    </div>
  </ion-list>

  <div class="resultado">
    <ion-item *ngIf="resultado">
      <ion-label>El producto más barato es:</ion-label>
      <ion-text>{{resultado}}</ion-text>
    </ion-item>
  </div>
 -->

  <div class="container">
    <div
      class="left"
      [ngStyle]="{ 'background-color': ganador1 ? 'lightgreen' : 'white' }"
    >
      <div class="label">Precio 1:</div>
      <div class="data">
        <input type="number" placeholder="$0" [(ngModel)]="precio1" />
      </div>
      <div class="label">Cantidad 1:</div>
      <div class="data">
        <input type="number" placeholder="$0" [(ngModel)]="cantidad1" />
      </div>
      <div *ngIf="resultado">Producto 1: {{ precioPorCantidad1 }}</div>
    </div>

    <div
      class="right"
      [ngStyle]="{ 'background-color': ganador2 ? 'lightgreen' : 'white' }"
    >
      <div class="label">Precio 2:</div>
      <div class="data">
        <input type="number" placeholder="$0" [(ngModel)]="precio2" />
      </div>
      <div class="label">Cantidad 2:</div>
      <div class="data">
        <input type="number" placeholder="0" [(ngModel)]="cantidad2" />
      </div>
      <div *ngIf="resultado">Producto 2: {{precioPorCantidad2}}</div>
    </div>
  </div>
  <div *ngIf="resultado" class="resultado">
    <div>{{resultado}}</div>
  </div>

  <div class="boton">
    <ion-button expand="full" (click)="compararPrecios()"
      >Comparar precios</ion-button
    >
  </div>
</ion-content>
