.left {
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  margin: 5px;
}
.right {
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  margin: 5px;
}
